<div class="map-container">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker
            *ngFor="let realestate of realestates, let i= index"
            [latitude]="realestate.lat"
            [longitude]="realestate.lng">
            <agm-info-window>
                <div>
                    {{realestate.address}}
                </div>
                <div>
                    Capacity: {{ realestate.capacity }}
                </div>
                <div>
                    <strong style="font-weight: 600">Price: {{ realestate.price }}€</strong>
                </div>
                <div *ngIf="user">
                    <a routerLink="/realestates/{{realestate.id}}">Make a reservation</a>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>