.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 1em;

    max-width: 500px;

    h1 {
        text-align: center;
        margin-bottom: 0.5em;
    }
}

form {
    input {
        width: 100%;
        border-radius: .3em;
        box-shadow: none;
        padding: 0.5em 0.5em;
        margin-bottom: 0.5em;
    }

    input[type=submit] {
        background-color: rgb(67, 185, 67);
        border-color: rgb(67, 185, 67);
        box-shadow: none;
        border: none;
        border-radius: 100vh;
        padding: 0.5em 1em;
        cursor: pointer;
        color: white;
        max-width: 200px;
    }
}