<div class="container">
    <h1>Reservations</h1>
    <table aria-describedby="Reservations overview">
        <tr>
            <th id="address">Address</th>
            <th id="user">User</th>
            <th id="from">From</th>
            <th id="to">To</th>
        </tr>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.address}}</td>
            <td>{{reservation.username}}</td>
            <td>{{reservation.date_from | date:'d.M.yyy'}}</td>
            <td>{{reservation.date_to | date:'d.M.yyy'}}</td>
        </tr>
    </table>
</div>
